body {
  background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)),
    url(../images/carimage2.webp);
  background-size: cover;
  background-position: center;
}

.login-left {
  background: rgba(211, 211, 211, 0.5);
  padding: 30px;
}

.login-right {
  background: #fff;
  padding: 30px;
}
.form-control {
  background-color: transparent !important;
}
.strong {
  color: green;
}
label {
  color: deepskyblue;
}
#password {
  color: wheat;
}
#email {
  color: red;
}
#f_name {
  color: white;
}
